<!DOCTYPE html>
#{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
  <head>
    <meta charset="utf-8">
    <title>Bias</title>
  </head>
  <body>
    <table class="table table-striped table-sm">
      <tr>
        <th> Features </th>
        {% for key in content.feature_description %}
            <th scope="col">{{key}}</th>
        {% endfor %}
      </tr>

      <tr>
        <th> Number Null Features </th>
        {% for key in content.FeatureNull %}
            <th scope="col">{{key}}</th>
        {% endfor %}
      </tr>
      <tr>
        <th>Category Bias</th>
        {% for value in content.CategoryBias %}
            <th>
               {{value}}
           </th>
        {% endfor %}
      </tr>
      <tr>
        <th>Feature Perturbation</th>
        {% for value in content.FeaturePerturbation %}
            <th>
               {{value}}
           </th>
        {% endfor %}
      </tr>
    </table>
    
  </ul class="list_group">
    {% buttons %}
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/model">Upload a Model</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/csv">Upload a test CSV</a>
    </div>

    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/train">Upload a train CSV</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'performance' %}">Performance metrics</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'enviromental' %}">Enviromental</a>
    </div>

    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'ethical' %}">Ethical approaches</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'bias' %}">Feature importance</a>
    </div>
    {% endbuttons %}
  </body>
</html>