<!DOCTYPE html>
#{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Ethical</title>
  </head>
  <body>
    <table class="table table-striped table-sm">
      <tr>
        <th> Features </th>
        {% for key in content.feature_description %}
            <th scope="col">{{key}}</th>
        {% endfor %}
      </tr>
      <tr>
        <th>Is unethical</th>
        {% for value in content.is_unethical %}
            <th>
               {{value}}
           </th>
        {% endfor %}
      </tr>
    </table>
    
  <img src= "media/shap-sumary.png", width="400", width="400" > 
  </ul class="list_group">
    {% buttons %}
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/model">Upload a Model</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/csv">Upload a test CSV</a>
    </div>

    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/train">Upload a train CSV</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'performance' %}">Performance metrics</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'enviromental' %}">Enviromental</a>
    </div>

    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'ethical' %}">Ethical approaches</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'bias' %}">Feature importance</a>
    </div>
    {% endbuttons %}
  </body>
</html>