<!DOCTYPE html>
#{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul class="list_group">
    {% for key, value in content.items %}
        <li class="list-group-item">
            <a >{{key}} : {{value}}</a>
        </li class="list-group-item">
    {% endfor %}
    
  </ul class="list_group">
    {% buttons %}
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/model">Upload a Model</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/csv">Upload a test CSV</a>
    </div>

    <div style="" class="button-box" >
      <a class="btn btn-primary" href="/upload/train">Upload a train CSV</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'performance' %}">Performance metrics</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'enviromental' %}">Enviromental</a>
    </div>

    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'ethical' %}">Ethical approaches</a>
    </div>
    <div style="" class="button-box" >
      <a class="btn btn-primary" href="{% url 'bias' %}">Feature importance</a>
    </div>
    {% endbuttons %}
  </body>
</html>